@CHARSET "UTF-8";

.widefat .column-order_status mark.bimbler-paid:after,
.widefat .column-order_status mark.bimbler-ordered:after,
.widefat .column-order_status mark.bimbler-arrived:after
	 {
/*	font-family: WooCommerce; */
	font-family: FontAwesome;
	speak: none;
	font-weight: normal; /*400; */
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	text-indent: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	text-decoration: none;
}

.widefat .column-order_status mark.bimbler-ordered:after {
	content: "\f07a";
	color: #999;
}

.widefat .column-order_status mark.bimbler-arrived:after {
	content: "\f0d1";
	color: #999;
}

.widefat .column-order_status mark.bimbler-paid:after {
	content: "\f09d";
	color: #999;
}

